<template lang="">
  <q-layout>

    <ChatHeader />
    <MessageComponent />
    <InputMessageComponent />

  </q-layout>
  <ModalResendComponent />
</template>
<script>
import { mapActions, mapState } from 'vuex'
import ModalResendComponent from './ModalResendComponent.vue'
import ChatHeader from './ChatHeader.vue'
import MessageComponent from './MessageComponent.vue'
import InputMessageComponent from './InputMessageComponent.vue'

export default {
  components: {
    ModalResendComponent,
    ChatHeader,
    MessageComponent,
    InputMessageComponent
  },
  data() {
    return {
      newMessage: ''
    }
  },
  methods: {
    ...mapActions('store', ['getMessages', 'sendMessage', 'getContacts', 'handleOpenModal', 'handleSetResendMessage']),
    async sendMessages(msg) {
      const result = await this.sendMessage(msg)
      if (result) {
        this.getMessages()
        this.getContacts()
        this.newMessage = ""
      }
    },
  },
  computed: {
    ...mapState('store', {
      chatId: state => state.chatId,
    })
  },
  watch: {
    chatId() {
      this.getMessages();
    }
  }
}
</script>
<style lang="">




</style>
