<template lang="">
  <q-header elevated class="header">
      <q-toolbar>
        <q-avatar></q-avatar>
        <q-toolbar-title>
          <q-item-section avatar>
            <div class="flex">
              <q-avatar color="white" text-color="black">
                {{ active?.name?.charAt(0)}}
              </q-avatar>
              <span class="text-right"></span>
            </div>
          </q-item-section>
        </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <p></p>
</template>
<script>
import { mapState } from 'vuex';
export default {

  computed: {
    ...mapState('store', {
      active: state => state.active
    })
  }
}
</script>
<style lang="">

</style>
