<template>
  <div class="contacts">
    <q-layout>


      <HeaderContactsComponent />
      <MyContactsComponent />

    </q-layout>
  </div>
</template>

<script>

import HeaderContactsComponent from './HeaderContactsComponent.vue';
import MyContactsComponent from './MyContactsComponent.vue'

export default {

  components: {
    HeaderContactsComponent,
    MyContactsComponent
  },
};
</script>

<style >
.contacts {
  height: 100vh;
  width: 20%;
  background-color: rgb(239, 247, 238);
}

.header {
  height: auto;
}

.contact-list {
  height: calc(100% - 60px);
  /* Ajusta el valor si es necesario */
  overflow-y: auto;
}

.avatar {
  background-color: rgb(215, 233, 250);
}
</style>
