<template lang="">
  <q-header elevated class="header">
        <q-toolbar>
          <q-toolbar-title>
            <q-item-section avatar>
              <q-avatar color="white" text-color="black">
                E
              </q-avatar>
            </q-item-section>
          </q-toolbar-title>
          <q-btn icon="fiber_manual_record" dense></q-btn>
          <q-btn icon="chat" dense></q-btn>
          <q-btn icon="more_vert" dense></q-btn>
        </q-toolbar>
      </q-header>
</template>
<script>
export default {

}
</script>
<style lang="">

</style>
