<template lang="">
  <q-footer elevated>
      <q-toolbar>
        <q-input v-model="newMessage" bg-color="white" class="full-width" outlined rounded label="Message" dense>

          <template v-slot:after>
            <q-btn round dense flat color="white" icon="send" @click="sendMessages(newMessage)" />
          </template>
        </q-input>
      </q-toolbar>
    </q-footer>
</template>
<script>
import { mapActions } from 'vuex'
export default {
  data() {
    return {
      newMessage: ''
    }
  },
  methods: {
    ...mapActions('store', ['getMessages', 'sendMessage', 'getContacts']),
    async sendMessages(msg) {
      const result = await this.sendMessage(msg)
      if (result) {
        this.getMessages()
        this.getContacts()
        this.newMessage = ""
      }
    },



  },
}
</script>
<style lang="">

</style>
