<template lang="">
  <div class="q-pa-md column col justify-end" style="height: 90%">
      <q-chat-message v-for="message in messages" :key="message.id" :name="message.frm" :text="[message.msg]"
        :sent="message.frm == 'me' ? false : true" :stamp="messageStatus(message.status)"
        @click="resend(message.msg)" />
    </div>
</template>
<script>
import { mapState, mapActions } from 'vuex';
export default {
  computed: {
    ...mapState('store', {
      messages: state => state.messages
    })
  },
  methods: {
    ...mapActions('store', ['getMessages', 'handleOpenModal', 'handleSetResendMessage']),
    messageStatus(status) {
      switch (status) {
        case "Enviando":
          return ""
          break;
        case "RecibidoServidor":
          return "✓";
          break;
        case "RecibidoUsuario":
          return "✓✓";
          break;
        case "Reenviado":
          return "Reenviado";
          break;
        case "Leido":
          return "visto";
          break;
      }
    },
    resend(msg) {
      this.handleOpenModal()
      this.handleSetResendMessage(msg)
    },
  },
  created() {
    this.getMessages()
  }
}
</script>


<style lang="">

</style>
