<template>
  <q-dialog v-model="openModal">
    <q-card>
      <q-card-section>
      </q-card-section>

      <q-card-section>
        <q-item v-for="contact in contacts" :key="contact.id" class="q-my-sm" clickable v-ripple
          :active="link === 'inbox'" @click="UserResend(contact.id)">
          <q-item-section avatar>
            <q-avatar color="primary" text-color="white">
              {{ contact.contact.name.charAt(0) }}
            </q-avatar>
          </q-item-section>

          <q-item-section>
            <q-item-label>{{ contact.contact.name }}</q-item-label>
          </q-item-section>

          <q-item-section side>
            <q-badge color="blue">online</q-badge>
          </q-item-section>
        </q-item>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn color="primary" label="Aceptar" @click="handleResendNewMessages()" />
        <q-btn color="secondary" label="Cancelar" @click="closeModal()" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  data() {
    return {
      link: ""
    };
  },
  methods: {
    ...mapActions('store', ['handleOpenModal', 'handleSetUserResend', 'handleResendNewMessage', 'getContacts', 'getMessages']),

    closeModal() {
      this.handleOpenModal()
    },
    UserResend(id) {
      this.handleSetUserResend(id)
    },
    async handleResendNewMessages() {
      const result = await this.handleResendNewMessage();
      if (result) {
        this.getContacts();
        this.getMessages();
      }
    }
  },
  computed: {
    ...mapState('store', {
      openModal: state => state.openModal,
      contacts: state => state.contacts
    })
  },
};
</script>
