<template lang="">
  <q-page-container>
        <q-page>
          <q-item v-for="contact in contacts" :key="contact.id" class="q-my-sm" clickable v-ripple
            @click="handleChangeChat(contact.id)">
            <q-item-section avatar>
              <q-avatar color="primary" text-color="white">
                {{ contact.contact.name.charAt(0) }}
              </q-avatar>
            </q-item-section>

            <q-item-section>
              <q-item-label>{{ contact.contact.name }}</q-item-label>
            </q-item-section>

            <q-item-section side>
              <q-badge color="blue">online</q-badge>
            </q-item-section>
          </q-item>
        </q-page>
      </q-page-container>
</template>
<script>
import { mapState } from 'vuex';
import { mapActions } from 'vuex';


export default {
  created() {
    this.getContacts()
    if (this.contacts[0]?.id) {
      this.changeChatId(this.contacts[0]?.id)
    }

  },
  methods: {
    ...mapActions('store', ['getContacts', 'changeChatId']),
    handleChangeChat(id) {
      this.changeChatId(id)
    }
  },
  computed: {
    ...mapState('store', {
      contacts: state => state.contacts,
    })
  },

}
</script>
<style lang="">

</style>
